//
   Created by youngkim on 2014. 11. 10..

html
    head
        include ./layout/header.jade
        link(href='/stylesheets/browseArtwork.css', rel='stylesheet', type='text/css')
    body(style = '')
        main
            .container
                #searchBox
                    #searchToggle
                        img#artworkToggle(src="/images/artwork_off.png", onclick='location.href=\'/browse/?searchFlag=artwork\';')
                        img#artistToggle(src="/images/artist_off.png", onclick='location.href=\'/browse/?searchFlag=artist\';')
                    #searchInput
                        input#searchText
                        #searchIcon
                            img(src="/images/search.png")
                #instantSearch
                    #instantResult1.result
                        .fullText
                    #instantResult2.result
                        .fullText
                    #instantResult3.result
                        .fullText
                #searchResult
                    each card in result
                        .artCard(onclick='location.href=\'/user/page/#{card.artistId}\';')
                            .artworkOverlay
                            .artworkInfo
                                .introduction
                                    | #{card.title}
                                .nameLikeDiv
                                    .artistNickname
                                        | #{card.nickname}
                                    if (card.like_flag === 1)
                                        img.liked(src='/images/browse_liked.png')
                                    else
                                        img.like(src='/images/browse_like.png')
                                .artworkId
                                    | #{card.id}
                            img(src='http://do086lo4rikup.cloudfront.net/#{card.thumbnail_url}')
                if (end)
                    #footerSpacer
                else
                    #loadMore
                        img(src="/images/loadMore.png")
                    #footerSpacer(style = 'display:none')
        script(src = '/javascripts/browse.js')
        include ./layout/nav.jade
        include ./layout/footer.jade