//
   Created by youngkim on 2014. 11. 27..

html
    head
        include ./layout/header.jade
        link(href='/stylesheets/browseArtist.css', rel='stylesheet', type='text/css')
    body(style = '')
        main
            .container
                #searchBox
                    #searchToggle
                        img#artworkToggle(src="/images/artwork_off.png", onclick='location.href=\'/browse/?searchFlag=artwork\';')
                        img#artistToggle(src="/images/artist_off.png", onclick='location.href=\'/browse/?searchFlag=artist\';')
                    #searchInput
                        input#searchText
                        #searchIcon
                            img(src="/images/search.png")
                #instantSearch
                    #instantResult1.result
                        .fullText
                    #instantResult2.result
                        .fullText
                    #instantResult3.result
                        .fullText
                #searchResult
                    each card in result
                        .artistCard(onclick='location.href=\'/user/page/#{card.id}\';')
                            .artistOverlay
                            .artistInfo
                                if (card.sub_id === 1)
                                    img.subscribed(src='/images/subscribed.png')
                                else
                                    img.subscribe(src='/images/subscribe.png')
                                .artistNickname
                                    | #{card.nickname}
                                .artistId
                                    | #{card.id}
                            if (card.profile_url === '0')
                                img(src='/user_profile/uploadPrefix/profile_small.png')
                            else
                                img(src='http://do086lo4rikup.cloudfront.net/#{card.profile_url}')
                if (end)
                    #footerSpacer
                else
                    #loadMore
                        img(src="/images/loadMore.png")
                    #footerSpacer(style = 'display:none')
        script(src = '/javascripts/browse.js')
        include ./layout/nav.jade
        include ./layout/footer.jade