//
   Created by youngkim on 2014. 11. 13..

html
    head
        include ./layout/header.jade
        link(href='/stylesheets/error.css', rel='stylesheet', type='text/css')
    body(style = '')
        main
            .container
                #box
                    #message
                        | #{message}
        include ./layout/nav.jade
        include ./layout/footer.jade