//
   Created by youngkim on 2014. 11. 20..

html
    head
        include ./layout/header.jade
        link(href='/stylesheets/fullArtwork.css', rel='stylesheet', type='text/css')
    body
        #fullBox
            #exitButton
                img(src='/images/whitex.png')
            img#fullArtwork(src='/user_artwork/#{info.image_url}')
        #controlButton
            #likeButton
                img(src='/images/full_like.png')
            #moreButton
                img(src='/images/full_more.png')
        script(src='/javascripts/fullArtwork.js')