//
   Created by youngkim on 2014. 11. 9..

html
    head
        include ./layout/header.jade
        link(href='/stylesheets/join.css', rel='stylesheet', type='text/css')
    body(style = '')
        main
            .container
                form(name = 'join-form' method ='post', role='form', action = '/user/join')
                    input#email(type='text' name = 'email' placeholder='E-mail')
                    input#password(type='password' name = 'password' placeholder='Password')
                    input#rePassword(type='password' name = 'rePassword' placeholder='Re-password')
                    #joinButton(onClick="submit()")
                        | JOIN
        include ./layout/nav.jade
        include ./layout/footer.jade
        script(src='/javascripts/join.js')