//
   Created by youngkim on 2014. 11. 17..

html
    head
        include ./layout/header.jade
        link(href='/stylesheets/landing.css', rel='stylesheet', type='text/css')
    body
        #enter(onclick='location.href=\'/user/login\';')
            img(src="/images/enter.png")
    script(src='/javascripts/landing.js')
