//
   Created by youngkim on 2014. 11. 18..

html
    head
        include ./layout/header.jade
        link(href='/stylesheets/flow.css', rel='stylesheet', type='text/css')
        link(href='/stylesheets/liked.css', rel='stylesheet', type='text/css')
    body(style = '')
        main
            .container
                #selectTab
                    #flowTab(onclick='location.href=\'/flow\';')
                        | Flow
                    #likedTab(onclick='location.href=\'/flow/liked\';')
                        | Liked
                    #subscribedTab(onclick='location.href=\'/flow/subscribed\';')
                        | Subscribed
                #cardList
                    each card in result
                        .artCard(onclick='location.href=\'/user/page/#{card.artistId}\';')
                            .artworkOverlay
                            .artworkInfo
                                .introduction
                                    | #{card.title}
                                .nameLikeDiv
                                    .artistNickname
                                        | #{card.nickname}
                                    img.liked(src='/images/browse_liked.png')
                                .artworkId
                                    | #{card.id}
                            img(src='http://do086lo4rikup.cloudfront.net/#{card.thumbnail_url}')
                if (end)
                    #footerSpacer
                else
                    #loadMore
                        img(src="/images/loadMore.png")
                    #footerSpacer(style = 'display:none')
        script(src='/javascripts/flow.js')
        include ./layout/nav.jade
        include ./layout/footer.jade