//
   Created by youngkim on 2014. 11. 9..
html
    head
        include ./layout/header.jade
        link(href='/stylesheets/login.css', rel='stylesheet', type='text/css')
    body(style = '')
        main
            .container
                form(name = 'login-form' method ='post', role='form', action = '/user/login')
                    input#email(type='text' name = 'email' placeholder='E-mail')
                    input#password(type='password' name = 'password' placeholder='Password')
                    #loginButton(onClick="submit()")
                        | LOGIN
                #selectOption
                    #join(onclick='location.href=\'/user/join\';')
                        | JOIN
                    //#facebook(onclick="FB.login()")
                    //    img(src="/images/loginFacebook.png")
                    //#googlePlus
                    //    #googlePlusBtn
                    //        img(src="/images/loginGooglePlus.png")
                    #askPassword
                        | PW?
        include ./layout/nav.jade
        include ./layout/footer.jade
        script(src='/javascripts/login.js')