//
   Created by youngkim on 2014. 11. 20..

html
    head
        include ./layout/header.jade
        link(href='/stylesheets/master.css', rel='stylesheet', type='text/css')
        script(src='/javascripts/ZeroClipboard.js')
    body(style = '')
        main
            .container
                #user
                    if (userData.profile_url == '0')
                        #profileImage(style = 'background-image:url(/user_profile/uploadPrefix/profile.jpg);', onclick = 'location.href=\'/user/page/#{userData.id}\';')
                    else
                        #profileImage(style = 'background-image:url(http://do086lo4rikup.cloudfront.net/#{userData.profile_url});', onclick = 'location.href=\'/user/page/#{userData.id}\';')
                    #userInfo
                        #userId
                            | #{userData.id}
                        #userEmail
                            | #{userData.email}
                        #nickName
                            | #{userData.nickname}
                        if (subscribe)
                            #subscribed
                                img(src='/images/master_subscribed.png')
                        else
                            #subscribe
                                img(src='/images/master_subscribe.png')
                        #share
                            img(src='/images/share.png')
                        #shareBox
                            a#share_facebook(href='http://www.facebook.com/share.php?u=http://mushroom.land/user/page/#{userData.id}&title=mushroomArtistPage', target='_blank')
                                img(src='/images/share_facebook.png')
                            a#share_twitter(href='http://twitter.com/home?status=http://mushroomArtistPage+mushroom.land/user/page/#{userData.id}', target='_blank')
                                img(src='/images/share_twitter.png')
                            a#share_google(href='https://plus.google.com/share?url=http://mushroom.land/user/page/#{userData.id}', target='_blank')
                                img(src='/images/share_google.png')
                            a#share_pinterest(href='https://pinterest.com/pin/create/button/?url=http://mushroom.land/user/page/#{userData.id}&media=http://do086lo4rikup.cloudfront.net/#{artwork_first.info.photo_url}&description=mushroom artist, #{userData.nickname}', target='_blank')
                                img(src='/images/share_pinterest.png')
                            #share_url
                                img(src='/images/share_url.png')
                            #share_x
                                img(src='/images/share_x.png')
                        if (userData.address != 'Address' && userData.address != '')
                            #address
                                | #{userData.address}
                        if (userData.homepage != '')
                            #homePage
                                | #{userData.homepage}
                        if (facebook_link)
                            #facebook(onclick='location.href=\'#{facebook_address}\';')
                                | facebook
                        if (googleplus_link)
                            #googlePlus(onclick='location.href=\'#{googleplus_address}\';')
                                | google+
                        #profileEmail
                            | #{userData.email}
                        if (userData.gallery != '')
                            #gallery
                                | !{userData.gallery}
                        if (userData.introduction != '')
                            #userIntroduction
                                | !{userData.introduction}
                    #userSpacer
                #artwork
                    #artworkImage
                        img(src='http://do086lo4rikup.cloudfront.net/#{artwork_first.info.photo_url}')
                    if (artwork_first.like)
                        #liked
                            #likedIcon
                                img(src="/images/liked.png")
                            #likedText
                                | LIKED
                    else
                        #like
                            #likeIcon
                                img(src="/images/like.png")
                            #likeText
                                | LIKE
                    #hashtag
                        if (artwork_first.hashtag1.tag != '')
                            .hash(onclick='location.href=\'/browse/?searchFlag=artwork&searchText=#{artwork_first.hashtag1.tag}\';')
                                | #!{artwork_first.hashtag1.tag}
                        else
                            .hash
                        if (artwork_first.hashtag2.tag != '')
                            .hash(onclick='location.href=\'/browse/?searchFlag=artwork&searchText=#{artwork_first.hashtag2.tag}\';')
                                | #!{artwork_first.hashtag2.tag}
                        else
                            .hash
                        if (artwork_first.hashtag3.tag != '')
                            .hash(onclick='location.href=\'/browse/?searchFlag=artwork&searchText=#{artwork_first.hashtag3.tag}\';')
                                | #!{artwork_first.hashtag3.tag}
                        else
                            .hash
                        if (artwork_first.hashtag4.tag != '')
                            .hash(onclick='location.href=\'/browse/?searchFlag=artwork&searchText=#{artwork_first.hashtag4.tag}\';')
                                | #!{artwork_first.hashtag4.tag}
                        else
                            .hash
                        if (artwork_first.hashtag5.tag != '')
                            .hash(onclick='location.href=\'/browse/?searchFlag=artwork&searchText=#{artwork_first.hashtag5.tag}\';')
                                | #!{artwork_first.hashtag5.tag}
                        else
                            .hash
                    #artworkInfo
                        #artworkDetail
                            #title
                                | #{artwork_first.info.title}
                            #scale
                                #width
                                    | #{artwork_first.info.width}
                                if (artwork_first.info.height != '')
                                    .scaleX
                                        | x
                                #height
                                    | #{artwork_first.info.height}
                                if (artwork_first.info.depth != '')
                                    .scaleX
                                        | x
                                #depth
                                    | #{artwork_first.info.depth}
                            #material
                                | #{artwork_first.info.material}
                        #artworkIntroduction
                            | #{artwork_first.info.introduction}
                        #artworkId
                            | #{artwork_first.info.id}
                    #artworkSpacer
                #comment
                    #curUserNickname
                        | #{nickname}
                    form#commentForm(name = 'comment-form' method ='post', role='form', action = '/artwork/comment/add')
                        input#commentInput(type='text' name = 'commentContent' placeholder='Comment')
                        #commentEnter
                            | Enter
                    #commentList
                        each comment in artwork_first.comments
                            .commentCard
                                .commentInfo
                                    .commentNickname
                                        | #{comment.nickname}
                                    .commentDate
                                        | #{comment.comment_time}
                                    .commentId
                                        | #{comment.id}
                                .commentContentField
                                    .commentContent
                                        | #{comment.content}
                                    .commentControl
                                        if (comment.nickname === nickname)
                                            img.x(src='/images/whitex.png')
                                            img.commentEdit(src='/images/commentEdit.png')
                                        else
                                            img.commentReport(src='/images/commentReport.png')
                #commentSpacer
                    #report_box
                        input#commentReportInput
                        #commentReportBtn
                            | Report
                #otherArtwork
                    each artwork in artworks
                        .artCard
                            img(src='http://do086lo4rikup.cloudfront.net/#{artwork.thumbnail_url}')
                            .info
                                .artworkId
                                    | #{artwork.id}
        //#loadMoreArtwork
        //    img(src="/images/loadMore.png")
        include ./layout/nav.jade
        include ./layout/footer.jade
        #fullScreen
            #exitButton
                img(src='/images/whitex.png')
            #controlButton
                #likeButton
                    img(src='/images/full_like.png')
                #subButton
                    img(src='/images/master_full_subscribe.png')
        script(src='/javascripts/master.js')