//
   Created by youngkim on 2014. 11. 11..
html
    head
        include ./layout/header.jade
        link(href='/stylesheets/profile.css', rel='stylesheet', type='text/css')
    body(style = '')
        main
            .container
                input#profilePic(type='file' name = 'profilePic')
                form(name = 'profile-form', method ='post', role='form', action = '/user/profile', enctype='multipart/form-data')
                    input#profilePicStr(type='hidden' name = 'profilePicture')
                    if (userData.profile_url == '0')
                        #profileImage(style = 'background-image:url(/user_profile/profilePrefix/profile.jpg);')
                    else
                        #profileImage(style = 'background-image:url(http://do086lo4rikup.cloudfront.net/#{userData.profile_url});')
                    #cropBox
                        #cropImageBox
                            .thumbBox
                                #cropImageBtn Crop image
                            .spinner Loading...
                    input#nickName(type='text' name = 'nickname' placeholder='Nickname' value='#{userData.nickname}')
                    input#password(type='password' name = 'oldPassword' placeholder='Password')
                    input#newPassword(type='password' name = 'newPassword' placeholder='New Password')
                    input#rePassword(type='password' name = 'rePassword' placeholder='Re-Password')
                    input#address(type='hidden' name = 'address' placeholder='Address' value='#{userData.address}')
                    #addrSelected
                        ol#addrList
                            li
                                span Address
                            li
                                span Brooklyn
                            li
                                span Bronx
                            li
                                span Queens
                            li
                                span Staten Island
                            li
                                span Manhattan
                            li
                                span New York State
                            li
                                span America
                            li
                                span International
                    input#homePage(type='text' name = 'homepage' placeholder='Homepage' value='#{userData.homepage}')
                    if (facebook_link)
                        #facebook(onclick='location.href=\'#{facebook_address}\';')
                            img(src="/images/facebooklinked.png")
                    else
                        #facebookBtn
                            img(src="/images/facebooklink.png")
                    if (googleplus_link)
                        #googlePlus(onclick='location.href=\'#{googleplus_address}\';')
                            img(src="/images/googlepluslinked.png")
                    else
                        #googlePlusBtn
                            img(src="/images/googlepluslink.png")
                    input#gallery(type='text' name = 'gallery' placeholder='Gallery' value='#{userData.gallery}')
                    textarea#introduction(rows='3' cols='60' type='text' name='introduction' placeholder='Who are You?')
                    #save(onClick="submit()")
                        | SAVE
                    #introductionText(style ='display:none;')
                        | #{userData.introduction}
        script(src='/javascripts/cropbox.js')
        #loadingDiv
        script(src='/javascripts/profile.js')
        include ./layout/nav.jade
        include ./layout/footer.jade