//
   Created by youngkim on 2014. 11. 6..
html
    head
        include ./layout/header.jade
        link(href='/stylesheets/recommend.css', rel='stylesheet', type='text/css')
    body(style = '')
        main
            .container
                .artworkSpace
            #loadMore
                img(src="/images/loadMore.png")
        include ./layout/nav.jade
        include ./layout/footer.jade
        #loadingScreen
        #fullScreen
            #exitButton
                img(src='/images/whitex.png')
            #controlButton
                #likeButton
                    img(src='/images/full_like.png')
                #moreButton
                    img(src='/images/full_more.png')
        script(src="/javascripts/recommend.js")