//
   Created by youngkim on 2014. 11. 18..

html
    head
        include ./layout/header.jade
        link(href='/stylesheets/flow.css', rel='stylesheet', type='text/css')
        link(href='/stylesheets/subscribed.css', rel='stylesheet', type='text/css')
    body(style = '')
        main
            .container
                #selectTab
                    #flowTab(onclick='location.href=\'/flow\';')
                        | Flow
                    #likedTab(onclick='location.href=\'/flow/liked\';')
                        | Liked
                    #subscribedTab(onclick='location.href=\'/flow/subscribed\';')
                        | Subscribed
                #cardList
                    each card in result
                        .artistCard(onclick='location.href=\'/user/page/#{card.id}\';')
                            .artistOverlay
                            .artistInfo
                                img.subscribed(src='/images/subscribed.png')
                                .artistNickname
                                    | #{card.nickname}
                                .artistId
                                    | #{card.id}
                            if(card.profile_url === '0')
                                img(src='/user_profile/uploadPrefix/profile_small.png')
                            else
                                img(src='http://do086lo4rikup.cloudfront.net/#{card.profile_url}')
                if (end)
                    #footerSpacer
                else
                    #loadMore
                        img(src="/images/loadMore.png")
                    #footerSpacer(style = 'display:none')
        script(src='/javascripts/flow.js')
        include ./layout/nav.jade
        include ./layout/footer.jade