//
   Created by youngkim on 2014. 11. 16..
html
    head
        include ./layout/header.jade
        link(href='/stylesheets/upload.css', rel='stylesheet', type='text/css')
    body(style = '')
        main
            .container
                input#profilePic(type='file' name = 'profilePic')
                input#artWorkPic(type='file' name = 'artWorkPic')
                form(name = 'upload-form', method ='post', role='form', action = '/upload', enctype='multipart/form-data')
                    #user
                        input#profilePicStr(type='hidden' name = 'profilePicture')
                        if (userData.profile_url == '0')
                            #profileImage(style = 'background-image:url(/user_profile/uploadPrefix/profile.jpg);')
                        else
                            #profileImage(style = 'background-image:url(http://do086lo4rikup.cloudfront.net/#{userData.profile_url});')
                            .spinner
                        #cropBox
                            #cropImageBox
                                .thumbBox
                                    #cropImageBtn Crop image
                                .spinner Loading...
                        #userInfo
                            input#nickName(type='text' name = 'nickname' placeholder='Nickname' value='#{userData.nickname}')
                            #profileEdit
                                | Edit your profile
                            input#address(type='hidden' name = 'address' placeholder='Address' value='#{userData.address}')
                            #addrSelected
                                ol#addrList
                                    li
                                        span Address
                                    li
                                        span Brooklyn
                                    li
                                        span Bronx
                                    li
                                        span Queens
                                    li
                                        span Staten Island
                                    li
                                        span Manhattan
                                    li
                                        span New York State
                                    li
                                        span America
                                    li
                                        span International
                            input#homePage(type='text' name = 'homepage' placeholder='Homepage' value='#{userData.homepage}')
                            if (facebook_link)
                                #facebook(onclick='location.href=\'#{facebook_address}\';')
                                    img(src="/images/facebook_linked_upload.png")
                            else
                                #facebookBtn
                                    img(src="/images/facebook_link_upload.png")
                            if (googleplus_link)
                                #googlePlus(onclick='location.href=\'#{googleplus_address}\';')
                                    img(src="/images/googleplus_linked_upload.png")
                            else
                                #googlePlusBtn
                                    img(src="/images/googleplus_link_upload.png")
                            input#gallery(type='text' name = 'gallery' placeholder='Gallery' value='#{userData.gallery}')
                            textarea#userIntroduction(type='text' name='userIntroduction' placeholder='Who are You?')
                            #userIntroductionText
                                | #{userData.introduction}
                        #userSpacer
                            #profileZoomIn.glass.unselectable
                                img(src='/images/profilePlus.png')
                            #profileZoomOut.glass.unselectable
                                img(src='/images/profileMinus.png')
                    #artWork
                        input#artWorkThumbStr(type='hidden' name = 'artWorkThumbnail')
                        input#artWorkPicStr(type='hidden' name = 'artWorkPicture')
                        #artWorkImage
                        #cropBoxArt
                            #cropArtBox
                                .thumbBox
                                    #thumbBoxMessage.unselectable And this is for your thumbnail
                                .spinner Loading...
                        #hashTag
                            input.hash(type='text' name = 'hash1' placeholder='Hash Tag')
                            input.hash(type='text' name = 'hash2' placeholder='Hash Tag')
                            input.hash(type='text' name = 'hash3' placeholder='Hash Tag')
                            input.hash(type='text' name = 'hash4' placeholder='Hash Tag')
                            input.hashRight(type='text' name = 'hash5' placeholder='Hash Tag')
                        #artWorkInfo
                            #property
                                input#title(type='text' name = 'title' placeholder='Title')
                                input#width(type='text' name = 'width' placeholder='W')
                                .x
                                input#height(type='text' name = 'height' placeholder='H')
                                .x
                                input#depth(type='text' name = 'depth' placeholder='D')
                                input#material(type='text' name = 'material' placeholder='Material')
                            input#artWorkIntroduction(type='text' name = 'artworkIntroduction' placeholder='Introduction')
                    #save(onClick="submit()")
                        | SAVE
        script(src='/javascripts/cropbox.js')
        #loadingDiv
        script(src='/javascripts/upload.js')
        include ./layout/nav.jade
        include ./layout/footer.jade