/*Created by youngkim on 2014. 11. 10..*/

nav .container #browseNavButton {
    float: left;
    width: 63px;
    height: 15px;
    padding: 4px 12px 4px 12px;
    margin: 19px -1px 17px 104px;
    border: 1px solid #f9f8f8;
    cursor: pointer;
}

main .container {
    width: 960px;
    padding-top: 60px;
    margin: 0 auto;
}

main #searchBox {
    width: 960px;
    height: 79px;
    border-bottom: 1px solid #2d2d2c;
}

main #searchToggle {
    float: left;
    width: 80px;
    height: 40px;
    margin-top: 38px;
}

main #searchToggle img {
    width: 80px;
    cursor: pointer;
}

main #searchInput {
    float: left;
    width: 880px;
    height: 80px;
}

main #searchText {
    float: left;
    width: 800px;
    height: 79px;
    margin: 0 auto;
    color: #2d2d2c;
    border: transparent;
    background-color: #f9f9f8;
    text-align: center;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 70px;
    font-weight: 500;
}

main #searchIcon {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 49px;
    cursor: pointer;
}

main #searchIcon img {
    width: 20px;
    height: 20px;
}

main #instantSearch {
    position: absolute;
    width: 960px;
    height: 320px;
    background-color: rgba(249, 249, 248, 0.95);
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    display: none;
}

main #instantSearch .result {
    position: absolute;
    width: auto;
    height: 60px;
    text-align: center;
    border: 1px solid transparent;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 60px;
    font-weight: 500;
    padding: 20px 50px 20px 50px;
    cursor: pointer;
}

main #instantSearch .fullText {
    display: none;
}

main #instantResult1 {
    margin-top: 10px;
}

main #instantResult1:hover {
    border: 1px solid #2d2d2c;
}

main #instantResult2 {
    margin-top: 120px;
}

main #instantResult2:hover {
    border: 1px solid #2d2d2c;
}

main #instantResult3 {
    margin-top: 230px;
}

main #instantResult3:hover {
    border: 1px solid #2d2d2c;
}

main #searchResult {
    width: 1020px;
    margin: 0 auto;
    box-sizing: border-box;
    display: table;
}

main .artCard {
    float: left;
    width: 278px;
    height: 278px;
    border: 1px solid #2d2d2c;
    margin-right: 60px;
    margin-top: 60px;
}

main .artCard img {
    width: 278px;
    height: 278px;
}

.artCard .artworkOverlay {
    position: absolute;
    width: 278px;
    height: 278px;
    background-color: #2d2d2c;
    opacity: 0.4;
    display: none;
}

.artCard .artworkInfo {
    position: absolute;
    width: 280px;
    height: 280px;
    display: none;
    font-family: Century gothic, Noto Sans;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #f9f9f8;
    word-break: break-all;
}

.artCard:hover .artworkOverlay {
    display: block;
}

.artCard:hover .artworkInfo {
    display: block;
}

.artCard .introduction {
    width: 230px;
    height: 150px;
    margin-top: 25px;
    margin-left: 25px;
}

.artCard .nameLikeDiv {
    width: 230px;
    height: 30px;
    margin-top: 50px;
    margin-left: 25px;
}

.artCard .artistNickname {
    float: left;
    width: 150px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    vertical-align: middle;
    overflow: hidden;
}

.artCard .like {
    float: right;
    width: 71px;
    height: 26px;
    margin-top: 4px;
    margin-left: 9px;
    cursor: pointer;
}

.artCard .liked {
    float: right;
    width: 71px;
    height: 26px;
    margin-top: 4px;
    margin-left: 9px;
    cursor: pointer;
}

.artCard .artworkId {
    display: none;
}

main #loadMore {
    width: 210px;
    height: 50px;
    margin: 0 auto;
    padding: 60px 0;
    cursor: pointer;
}

main #footerSpacer {
    width: 960px;
    height: 80px;
}