/*Created by youngkim on 2014. 11. 27..*/

nav .container #browseNavButton {
    float: left;
    width: 63px;
    height: 15px;
    padding: 4px 12px 4px 12px;
    margin: 19px -1px 17px 104px;
    border: 1px solid #f9f8f8;
    cursor: pointer;
}

main .container {
    width: 960px;
    padding-top: 60px;
    margin: 0 auto;
}

main #searchBox {
    width: 960px;
    height: 79px;
    margin-bottom: -40px;
}

main #searchToggle {
    float: left;
    width: 80px;
    height: 40px;
    margin-top: 41px;
}

main #searchToggle img {
    width: 80px;
    cursor: pointer;
}

main #searchInput {
    float: left;
    width: 880px;
    height: 80px;
    border-bottom: 1px solid #2d2d2c;
}

main #searchText {
    float: left;
    width: 800px;
    height: 79px;
    margin: 0 auto;
    color: #2d2d2c;
    border: transparent;
    background-color: #f9f9f8;
    text-align: center;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 60px;
    font-weight: 500;
    line-height: 79px;
}

main #searchIcon {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 49px;
    cursor: pointer;
}

main #searchIcon img {
    width: 20px;
    height: 20px;
}

main #instantSearch {
    position: absolute;
    width: 960px;
    height: 320px;
    background-color: rgba(249, 249, 248, 0.95);
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    display: none;
}

main #instantSearch .result {
    position: absolute;
    width: auto;
    height: 60px;
    text-align: center;
    border: 1px solid transparent;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 60px;
    font-weight: 500;
    padding: 20px 50px 20px 50px;
    cursor: pointer;
}

main #instantSearch .fullText {
    display: none;
}

main #instantResult1 {
    margin-top: 10px;
}

main #instantResult1:hover {
    border: 1px solid #2d2d2c;
}

main #instantResult2 {
    margin-top: 120px;
}

main #instantResult2:hover {
    border: 1px solid #2d2d2c;
}

main #instantResult3 {
    margin-top: 230px;
}

main #instantResult3:hover {
    border: 1px solid #2d2d2c;
}

main #searchResult {
    width: 1020px;
    margin: 0 0 0 90px;
    box-sizing: border-box;
    display: table;
    padding-top: 60px;
}

main #cardList {
    width: 900px;
    display: table;
    margin-left: 86px;
    padding-top: 60px;
}

main .artistCard {
    float: left;
    width: 193px;
    height: 193px;
    border: 1px solid #2d2d2c;
    margin-right: 100px;
    margin-bottom: 100px;
}

main .artistCard img {
    width: 193px;
    height: 193px;
}

.artistCard .artistOverlay {
    position: absolute;
    width: 193px;
    height: 193px;
    opacity: 0.7;
    display: none;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)); /* Standard syntax (must be last) */
}

.artistCard .artistInfo {
    position: absolute;
    width: 195px;
    height: 195px;
    display: none;
    font-family: Century gothic, Noto Sans;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #f9f9f8;
    word-break: break-all;
}

.artistCard:hover .artistOverlay {
    display: block;
}

.artistCard:hover .artistInfo {
    display: block;
}

.artistCard .subscribed {
    width: 90px;
    height: 26px;
    margin-top: 114px;
    margin-left: 52px;
    margin-bottom: 15px;
    cursor: pointer;
}

.artistCard .subscribe {
    width: 90px;
    height: 26px;
    margin-top: 114px;
    margin-left: 52px;
    margin-bottom: 15px;
    cursor: pointer;
}

.artistCard .artistNickname {
    width: 195px;
    height: 15px;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

.artistCard .artistId {
    display: none;
}

main #loadMore {
    width: 210px;
    height: 50px;
    margin: -40px auto 60px auto;
    cursor: pointer;
}

main #footerSpacer {
    width: 960px;
    height: 80px;
    margin-top: -100px;
}