/*Created by youngkim on 2014. 11. 10..*/

main .container {
    width: 960px;
    height: auto;
    text-align: center;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 70px;
    font-weight: 500;
}

main .container #box {
    position: fixed;
    width: 320px;
    height: 200px;
    background-color: #f9f8f8;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -160px;
    border: 1px solid #2d2d2c;
    z-index: -1;
}

main .container #message {
    width: 260px;
    margin: 90px auto 0 auto;
}