/*Created by youngkim on 2014. 11. 10..*/

nav .container #flowNavButton {
    float: left;
    width: 45px;
    height: 15px;
    padding: 4px 12px 4px 12px;
    margin: 19px -1px 0 142px;
    border: 1px solid #f9f8f8;
    cursor: pointer;
}

main .container {
    width: 960px;
    padding-top: 60px;
    margin: 0 auto;
}

main #selectTab {
    width: 960px;
    height: 60px;
    text-align: center;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 43px;
    font-weight: 500;
}

main #flowTab {
    float: left;
    width: 280px;
    height: 54px;
    margin-right: 60px;
    cursor: pointer;
    border-bottom: 1px solid #2d2d2c;
}

main #likedTab {
    float: left;
    width: 280px;
    height: 54px;
    margin-right: 60px;
    cursor: pointer;
}

main #subscribedTab {
    float: left;
    width: 280px;
    height: 54px;
    cursor: pointer;
}

main #cardList {
    width: 1020px;
    margin: 0 auto 0 auto;
    display: table;
}

main .artCard {
    float: left;
    width: 278px;
    height: 278px;
    border: 1px solid #2d2d2c;
    margin-right: 60px;
    margin-top: 60px;
}

main .artCard img {
    width: 278px;
    height: 278px;
}

.artCard .artworkOverlay {
    position: absolute;
    width: 278px;
    height: 278px;
    background-color: #2d2d2c;
    opacity: 0.4;
    display: none;
}

.artCard .artworkInfo {
    position: absolute;
    width: 280px;
    height: 280px;
    display: none;
    font-family: Century gothic, Noto Sans;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #f9f9f8;
    word-break: break-all;
}

.artCard:hover .artworkOverlay {
    display: block;
}

.artCard:hover .artworkInfo {
    display: block;
}

.artCard .introduction {
    width: 230px;
    height: 150px;
    margin-top: 25px;
    margin-left: 25px;
}

.artCard .nameLikeDiv {
    width: 230px;
    height: 30px;
    margin-top: 50px;
    margin-left: 25px;
}

.artCard .artistNickname {
    float: left;
    width: 150px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    vertical-align: middle;
    overflow: hidden;
}

.artCard .liked {
    float: right;
    width: 71px;
    height: 26px;
    margin-top: 4px;
    margin-left: 9px;
    cursor: pointer;
}

.artCard .like {
    float: right;
    width: 71px;
    height: 26px;
    margin-top: 4px;
    margin-left: 9px;
    cursor: pointer;
}

.artCard .artworkId {
    display: none;
}

main #loadMore {
    width: 210px;
    height: 50px;
    margin: 60px auto 60px auto;
    cursor: pointer;
}

main #footerSpacer {
    width: 960px;
    height: 40px;
    margin-top: 20px;
}