/*Created by youngkim on 2014. 11. 9..*/

footer {
    width: 100%;
    height: 59px;
    border-top: 1px solid #2d2d2c;
    color: #2d2d2c;
    clear: both;
}

footer .container {
    width: 960px;
    margin: 0 auto;
    font-family: Century gothic, Noto Sans;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: center;
}

#contactFooter {
    float: left;
    margin: 24px 0 24px 14px;
    cursor: pointer;
}

#facebookFooter {
    float: left;
    width: 63px;
    height: 11px;
    margin: 24px 0 24px 44px;
    cursor: pointer;
}

#copyrightFooter {
    float: left;
    width: 253px;
    height: 11px;
    margin: 24px 0 24px 44px;
    cursor: pointer;
}

#termFooter {
    float: left;
    width: 74px;
    height: 11px;
    margin: 24px 0 24px 48px;
    cursor: pointer;
}

#privacyFooter {
    float: left;
    margin: 24px 0 24px 48px;
    cursor: pointer;
}

#securityFooter {
    float: left;
    width: 47px;
    height: 11px;
    margin: 24px 8px 24px 48px;
    cursor: pointer;
}