html {
    background-color: #2d2d2c;
}

#fullBox {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #2d2d2c;
}

#exitButton {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    z-index: 3;
}

#fullArtwork img {

}

#controlButton {
    position: fixed;
    width: 110px;
    height: 20px;
    bottom: 0;
    right: 0;
    margin-bottom: 15px;
    margin-right: 15px;
    z-index: 3;
}

#likeButton {
    float: right;
    /*margin-right: 10px;*/
    cursor: pointer;
}

#morebutton {
    float: left;
    display: none;
}

#user {
    display: none;
}

#artwork {
    display: none;
}

#artist {
    display: none;
}