body {
    background: url('/images/landing_low.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#enter {
    position: fixed;
    width: 25%;
    top: 65%;
    left: 77%;
    cursor: pointer;
}

#enter img {
    width: 25%;
    border: 1px solid #2d2d2c;
}