/*Created by youngkim on 2014. 11. 18..*/

main .container #flowTab {
    float: left;
    width: 280px;
    height: 54px;
    margin-right: 60px;
    cursor: pointer;
    border: transparent;
}

main .container #likedTab {
    float: left;
    width: 280px;
    height: 54px;
    margin-right: 60px;
    cursor: pointer;
    border-bottom: 1px solid #2d2d2c;
}

main #footerSpacer {
    width: 960px;
    height: 40px;
    margin-top: 20px;
}