/*Created by youngkim on 2014. 11. 9..*/

main .container {
    width: 1000px;
    padding-top: 110px;
    margin: 0 auto 0px auto;
}

main form {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

main #email {
    width: 650px;
    height: 80px;
    padding-top: 15px;
    padding-bottom: 19px;
    border: transparent;
    border-bottom: 1px solid #2d2d2c;
    position: relative;
    margin: 0 auto 21px auto;
    text-align: center;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 45px;
    font-weight: 500;
    color: #2d2d2c;
    background-color: #f9f8f8;
}

main #password {
    width: 650px;
    height: 80px;
    padding-top: 15px;
    padding-bottom: 19px;
    border: transparent;
    border-bottom: 1px solid #2d2d2c;
    position: relative;
    margin: 0 auto 70px auto;
    text-align: center;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 45px;
    font-weight: 500;
    color: #2d2d2c;
    background-color: #f9f8f8;
}

::-webkit-input-placeholder {
    color: rgba(45, 45, 44, 0.3);
}

main #loginButton {
    width: 96px;
    height: 25px;
    margin: 0 auto 55px auto;
    text-align: center;
    font-family: Century gothic, Noto Sans;
    font-size: 26px;
    font-weight: 700;
    color: #2d2d2c;
    cursor: pointer;
}

main #selectOption {
    width: 650px;
    height: 26px;
    margin: 0 auto;
    font-family: Century gothic, Noto Serif;
    font-size: 25px;
    font-weight: 700;
    color: #2d2d2c;
}

main #join {
    float: left;
    margin-left: 242px;
    cursor: pointer;
}

/*main #join {*/
    /*float: left;*/
    /*margin-left: 172px;*/
    /*cursor: pointer;*/
/*}*/

/*main #facebook {*/
    /*float: left;*/
    /*margin-left: 56px;*/
    /*margin-top: 2px;*/
    /*cursor: pointer;*/
/*}*/

/*main #facebook img {*/
    /*height: 22px;*/
/*}*/

/*main #googlePlus {*/
    /*float: left;*/
    /*margin-left: 53px;*/
    /*margin-top: 2px;*/
    /*cursor: pointer;*/
/*}*/

/*main #googlePlus img {*/
    /*height: 22px;*/
/*}*/

/*main #googlePlusBtn {*/
    /*cursor: pointer;*/
/*}*/

main #askPassword {
    float: left;
    margin-left: 51px;
    cursor: pointer;
}