/*Created by youngkim on 2014. 11. 20..*/

main .container {
    width: 960px;
    margin: 0 auto;
    padding-top: 100px;
}

main #user {
    width: 960px;
    height: auto;
}

main #profileImage {
    float: left;
    width: 248px;
    height: 248px;
    border: 1px solid #2d2d2c;
    margin: 0 72px 0 10px;
    background: no-repeat 0 0;
    background-size: cover;
    cursor: pointer;
}

main #userInfo {
    float: right;
    width: 627px;
    height: auto;
    color: #2d2d2c;
}

main #userId {
    display: none;
}

main #userEmail {
    display: none;
}

main #nickName {
    float: left;
    width: 370px;
    height: 30px;
    padding-left: 8px;
    background-color: #f9f8f8;
    font-family: Century gothic, Noto Sans;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: left;
    margin-bottom: 32px;
    margin-right: 30px;
    line-height: 30px;
}

#subscribe {
    float: left;
    width: 90px;
    height: 26px;
    margin-right: 32px;
    cursor: pointer;
}

#subscribe img {
    float: left;
    width: 90px;
    margin-right: 32px;
}

#subscribed {
    float: left;
    width: 90px;
    height: 26px;
    margin-right: 32px;
    cursor: pointer;
}

#subscribed img {
    float: left;
    width: 90px;
    margin-right: 32px;
}

#share img {
    float: left;
    width: 21px;
    margin-top: 3px;
    margin-right: 32px;
    cursor: pointer;
}

#shareBox {
    position: absolute;
    width: 301px;
    height: 88px;
    margin-top: 36px;
    margin-left: 308px;
    background-image: url('/images/share_box.png');
    display: none;
}

#share_facebook {
    float: left;
    margin-top: 38px;
    margin-left: 29px;
    cursor: pointer;
}

#share_twitter {
    float: left;
    margin-top: 40px;
    margin-left: 34px;
    cursor: pointer;
}

#share_google {
    float: left;
    margin-top: 38px;
    margin-left: 31px;
    cursor: pointer;
}

#share_pinterest {
    float: left;
    margin-top: 38px;
    margin-left: 32px;
    cursor: pointer;
}

#share_url {
    float: left;
    margin-top: 42px;
    margin-left: 32px;
    cursor: pointer;
}

#share_x {
    float: left;
    margin-top: 21px;
    margin-left: 14px;
    cursor: pointer;
}

#sendMail img {
    float: left;
    width: 30px;
    margin-top: 2px;
    margin-right: 10px;
}

#editMyProfile img {
    float: left;
    width: 21px;
    margin-top: 1px;
    margin-right: 10px;
    cursor: pointer;
}

main #address {
    clear: both;
    width: 490px;
    height: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-family: Century gothic, Noto Sans;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

main #homePage {
    clear: both;
    width: 490px;
    height: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-family: Century gothic, Noto Sans;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

main #facebook {
    clear: both;
    width: 490px;
    height: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-family: Century gothic, Noto Sans;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
}

main #googlePlus {
    clear: both;
    width: 490px;
    height: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-family: Century gothic, Noto Sans;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
}

main #profileEmail {
    clear: both;
    width: 490px;
    height: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-family: Century gothic, Noto Sans;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

main #gallery {
    clear: both;
    width: 490px;
    height: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-family: Century gothic, Noto Sans;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

main #userIntroduction {
    clear: both;
    width: 490px;
    min-height: 15px;
    padding-left: 10px;
    margin-bottom: 40px;
    font-family: Century gothic, Noto Sans;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

main #userSpacer {
    clear: both;
    width: 960px;
    height: 40px;
    margin: 0 auto;
    border-bottom: 1px solid #2d2d2c;
}

main #artwork {
    width: 960px;
    color: #2d2d2c;
    margin: 0 auto;
}

main #artworkImage {
    width: 960px;
    height: 472px;
    margin: 40px auto 0 auto;
    text-align: center;
}

main #artworkImage img {
    max-width: 960px;
    max-height: 472px;
    margin: 0 auto;
    border: 1px solid #2d2d2c;
}

main #likeIcon {
    width: 50px;
    margin: 40px auto 0 auto;
    cursor: pointer;
}

main #likeIcon img {
    width: 50px;
}

main #likeText {
    width: 50px;
    height: 15px;
    margin: 10px auto 40px auto;
    text-align: center;
    font-family: Century gothic, Noto Sans;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

main #likedIcon {
    width: 50px;
    margin: 40px auto 0 auto;
    cursor: pointer;
}

main #likedIcon img {
    width: 50px;
}

main #likedText {
    width: 50px;
    height: 15px;
    margin: 10px auto 40px auto;
    text-align: center;
    font-family: Century gothic, Noto Sans;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

main #hashtag {
    width: 960px;
    height: 115px;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    word-wrap: break-word;
}

main #hashtag .hash {
    float: left;
    margin-right: 17px;
    cursor: pointer;
}

main #hashtag .hash:hover {
    border-bottom: 2px solid #2d2d2c;
}

main #hashtag .hashId {
    display: none;
}

main #artworkDetail {
    float: left;
    width: 250px;
    min-height: 154px;
    font-family: Century gothic, Noto Sans;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-right: 52px;
}

main #title {
    width: 250px;
    min-height: 40px;
    margin-bottom: 2px;
    line-height: 35px;
}

main #scale {
    width: 250px;
    height: 20px;
    margin-bottom: 2px;
}

main #width {
    text-align: center;
    float: left;
}

main #height {
    text-align: center;
    float: left;
}

main #depth {
    text-align: center;
    float: left;
}

main #scale .scaleX {
    float: left;
    margin-left: 8px;
    margin-right: 8px;
}

main #material {
    width: 250px;
    min-height: 40px;
    line-height: 35px;
}

main #artworkIntroduction {
    float: left;
    width: 657px;
    min-height: 154px;
    font-family: Century gothic, Noto Sans;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 24px;
}

main #artworkId {
    display: none;
}

main #artworkSpacer {
    clear: both;
    width: 960px;
    height: 40px;
    margin: 0 auto 40px auto;
    border-bottom: 1px solid #2d2d2c;
}

main #curUserNickname {
    display: none;
}

main #comment {
    width: 870px;
    margin-top: 40px;
    margin-left: 80px;
}

main #commentForm {
    width: 615px;
    height: 43px;
    margin-left: 255px;
    margin-bottom: 12px;
    border: 1px solid #2d2d2c;
    padding: 0;
}

main #commentInput {
    float: left;
    width: 550px;
    height: 43px;
    border: transparent;
    padding: 10px 0 10px 12px;
    background-color: #f9f8f8;
    text-align: left;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 500;
    color: #2d2d2c;
}

main #commentEnter {
    float: left;
    width: 40px;
    height: 23px;
    padding: 10px 8px 0 16px;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 500;
    color: #2d2d2c;
    line-height: 23px;
    cursor: pointer;
}

main #commentSpacer {
    clear: both;
    width: 960px;
    height: 40px;
    margin: 0 auto 40px auto;
    border-bottom: 1px solid #2d2d2c;
}

main #commentList {
    width: 870px;
}

#report_box {
    position: relative;
    width: 615px;
    height: 40px;
    margin-left: 255px;
    margin-bottom: 12px;
    background: #f9f9f8;
    border: 1px solid #2d2d2c;
    display: none;
}

#report_box:after, #report_box:before {
    bottom: 100%;
    left: 599px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}

#report_box:after {
    border-color: rgba(249, 249, 248, 0);
    border-bottom-color: #f9f9f8;
    border-width: 5px;
    margin-left: -5px;
}

#report_box:before {
    border-color: rgba(45, 45, 44, 0);
    border-bottom-color: #2d2d2c;
    border-width: 6px;
    margin-left: -6px;
}

#commentReportInput {
    float: left;
    width: 550px;
    height: 38px;
    border: transparent;
    padding: 10px 0 10px 12px;
    background-color: #f9f8f8;
    text-align: left;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 500;
    color: #2d2d2c;
}

#commentReportBtn {
    float: left;
    width: 40px;
    height: 23px;
    padding: 8px 8px 0 8px;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 500;
    color: #2d2d2c;
    line-height: 23px;
    cursor: pointer;
}

#comment .commentCard {
    width: 872px;
    min-height: 42px;
    margin-bottom: 12px;
}

#comment .commentInfo {
    float: left;
    width: 220px;
    height: auto;
    font-family: Century gothic, Noto Sans;
    font-size: 15px;
    font-weight: 500;
    color: #2d2d2c;
}

#comment .commentInfo .commentNickname {
    text-align: left;
}

#comment .commentInfo .commentDate {
    text-align: right;
}

#comment .commentInfo .commentId {
    display: none;
}

#comment .commentContentField {
    float: left;
    width: 593px;
    height: auto;
    margin-left: 35px;
    padding: 10px 10px 10px 12px;
    border: 1px solid #2d2d2c;
    background-color: #2d2d2c;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 500;
    color: #f9f8f8;
}

#comment .commentContentField .commentContent {
    float: left;
    width: 527px;
    line-height: 20px;
    word-break: break-all;
}

#comment .commentContentField .commentControl .x {
    float: right;
    margin-top: 4px;
    margin-left: 12px;
    cursor: pointer;
}

#comment .commentContentField .commentControl .commentReport {
    float: right;
    margin-top: 4px;
    margin-left: 12px;
    cursor: pointer;
}

#comment .commentContentField .commentControl .commentEdit {
    float: right;
    margin-top: 3px;
    cursor: pointer;
}

main #otherArtwork {
    width: 1070px;
    margin: 0 auto 0 auto;
    display: table;
}

main .artCard {
    float: left;
    width: 248px;
    height: 248px;
    border: 1px solid #2d2d2c;
    margin-right: 105px;
    margin-bottom: 105px;
    cursor: pointer;
}

main .artCard img {
    width: 248px;
    height: 248px;
}

main .artCard .info {
    display: none;
}

main #loadMoreArtwork {
    clear: both;
    width: 210px;
    height: 50px;
    margin: -65px auto 40px auto;
    cursor: pointer;
}

#exitButton {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    z-index: 3;
}

#controlButton {
    position: fixed;
    width: 142px;
    height: 20px;
    bottom: 0;
    right: 0;
    margin-bottom: 15px;
    margin-right: 15px;
    z-index: 3;
}

#likeButton {
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

#subButton {
    float: left;
    cursor: pointer;
}