/*Created by youngkim on 2014. 11. 9..*/

body {
    background-color: #f9f8f8;
    padding-top: 64px;
}

nav {
    width: 100%;
    height: 64px;
    top: 0;
    background-color: #2d2d2f;
    color: #f9f8f8;
    position: fixed;
    margin-bottom: 64px;
}

nav .container {
    width: 960px;
    height: 64px;
    margin: 0 auto;
    font-family: Century gothic, Noto Sans;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: center;
    font-smoothing: antialiased;
}

#recommendNavButton {
    float: left;
    width: 104px;
    height: 15px;
    padding: 4px 12px 4px 12px;
    margin: 19px -1px 0 -7px;
    border: 1px solid transparent;
    cursor: pointer;
}

#recommendNavButton:hover {
    border-color: #f9f8f8;
}

#browseNavButton {
    float: left;
    width: 63px;
    height: 15px;
    padding: 4px 12px 4px 12px;
    margin: 19px -1px 17px 104px;
    border: 1px solid transparent;
    cursor: pointer;
}

#browseNavButton:hover {
    border-color: #f9f8f8;
}

#logo {
    float: left;
    width: 270px;
    margin: 7px -110px 8px 33px;
}

#logoNavButton {
    padding: 4px 4px 4px 4px;
    margin: 0 auto;
    border: 1px solid transparent;
    cursor: pointer;
}

#logoNavButton:hover {
    border-color: #f9f8f8;
}

#mushroomLogo img {
    width: 32px;
    height: 20px;
    margin: 0 auto 7px auto;
}

#signText {
    position: absolute;
    font-size: 11px;
    margin: 0 auto;
    display: none;
    text-align: center;
}

#uploadNavButton {
    float: left;
    width: 63px;
    height: 15px;
    padding: 4px 12px 4px 12px;
    margin: 19px -1px 0 147px;
    border: 1px solid transparent;
    cursor: pointer;
}

#uploadNavButton:hover {
    border-color: #f9f8f8;
}

#flowNavButton {
    float: left;
    width: 45px;
    height: 15px;
    padding: 4px 12px 4px 12px;
    margin: 19px -1px 0 142px;
    border: 1px solid transparent;
    cursor: pointer;
}

#flowNavButton:hover {
    border-color: #f9f8f8;
}

#dropDownContainer {
    width: 128px;
    margin: 0 -64px;
    display: none;
    position: fixed;
}

#arrow {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #2d2d2c;
    margin: -10 auto 0;
}

#menu {
    width: 128px;
    height: 153px;
    background-color: #2d2d2c;
    margin: 20px auto 0;
    border: 1px solid #2d2d2c;

    font-family: Century gothic, Noto Sans;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: center;
}

#dummy {
    height: 10px;
}

#mypage {
    width: 66px;
    height: 15px;
    padding: 4px 12px 4px 12px;
    margin: 9px auto -1;
    border: 1px solid transparent;
    cursor: pointer;
}

#mypage:hover {
    border-color: #f9f8f8;
}

#profile {
    width: 60px;
    height: 15px;
    padding: 4px 12px 4px 12px;
    margin: 13px auto -1;
    border: 1px solid transparent;
    cursor: pointer;
}

#profile:hover {
    border-color: #f9f8f8;
}

#logout {
    width: 70px;
    height: 15px;
    padding: 4px 12px 4px 12px;
    margin: 13px auto -1;
    border: 1px solid transparent;
    cursor: pointer;
}

#logout:hover {
    border-color: #f9f8f8;
}

#login {
    width: 68px;
    height: 15px;
    padding: 4px 12px 4px 12px;
    margin: 13px auto -1;
    border: 1px solid transparent;
    cursor: pointer;
}

#login:hover {
    border-color: #f9f8f8;
}

#contact {
    width: 76px;
    height: 15px;
    padding: 4px 12px 4px 12px;
    margin: 13px auto -1;
    border: 1px solid transparent;
    cursor: pointer;
}

#contact:hover {
    border-color: #f9f8f8;
}

#popup {
    position: fixed;
    width: 320px;
    height: 200px;
    background-color: #2d2d2c;
    display: block;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -160px;
    display: none;
}

#xbox {
    float: right;
    width: 12px;
    height: 11px;
    margin-top: 10px;
    margin-right: 10px;
    background-image: url('/images/whitex.png');
    cursor: pointer;
}

#message {
    clear: both;
    width: 320px;
    min-height: 20px;
    margin-top: 70px;
    margin-bottom: 50px;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 24px;
}

#select_ok {
    clear: both;
    width: 320px;
    height: 15px;
    font-family: Century gothic, Noto Sans;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: center;
    cursor: pointer;
    display: none;
}

#select_bool {
    clear: both;
    width: 320px;
    height: 15px;
    font-family: Century gothic, Noto Sans;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: center;
    display: none;
}

#yesBox {
    float: left;
    margin-right: 50px;
    margin-left: 110px;
    cursor: pointer;
}

#noBox {
    float: left;
    cursor: pointer;
}