/*Created by youngkim on 2014. 11. 11..*/

main .container {
    width: 960px;
    margin: 0 auto;
    padding-top: 100px;
}

main form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

main #profileImage {
    width: 248px;
    height: 248px;
    border: 1px solid #2d2d2c;
    margin: 0 0 60px 125px;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}

main #profilePic {
    display: none;
}

main #nickName {
    width: 500px;
    height: 45px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 21px;
    border: transparent;
    border-bottom: 1px solid #2d2d2c;
    background-color: #f9f8f8;
    text-align: center;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    color: #2d2d2c;
}

main #password {
    width: 500px;
    height: 45px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 21px;
    border: transparent;
    border-bottom: 1px solid #2d2d2c;
    background-color: #f9f8f8;
    text-align: center;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    color: #2d2d2c;
}

main #newPassword {
    width: 500px;
    height: 45px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 21px;
    border: transparent;
    border-bottom: 1px solid #2d2d2c;
    background-color: #f9f8f8;
    text-align: center;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    color: #2d2d2c;
}

main #rePassword {
    width: 500px;
    height: 45px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 21px;
    border: transparent;
    border-bottom: 1px solid #2d2d2c;
    background-color: #f9f8f8;
    text-align: center;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    color: #2d2d2c;
}

main #addrSelected {
    width: 500px;
    height: 45px;
    margin-bottom: 21px;
}

main #addrList {
    position: absolute;
    display: block;
}

main #addrList li {
    width: 500px;
    height: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    border: 1px solid #2d2d2c;
    background-color: #f9f8f8;
    text-align: center;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    color: #2d2d2c;
    display: none;
    cursor: pointer;
}

main #addrList span:hover {
    padding: 9px 19px;
    cursor: pointer;
}

main #homePage {
    width: 500px;
    height: 45px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 21px;
    border: transparent;
    border-bottom: 1px solid #2d2d2c;
    background-color: #f9f8f8;
    text-align: center;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    color: #2d2d2c;
}

main #facebook {
    width: 500px;
    height: 45px;
    margin-bottom: 21px;
    border-bottom: 1px solid #2d2d2c;
}

main #facebook {
    width: 500px;
    height: 45px;
    margin-bottom: 21px;
    border: transparent;
    background-color: #f9f8f8;
    text-align: center;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    color: #2d2d2c;
    cursor: pointer;
}

main #facebook img {
    width: 500px;
    height: 45px;
}

main #facebookBtn {
    width: 500px;
    height: 45px;
    margin-bottom: 21px;
    border: transparent;
    background-color: #f9f8f8;
    text-align: center;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    color: #2d2d2c;
    cursor: pointer;
}

main #facebookBtn img {
    width: 500px;
    height: 45px;
}

main #googlePlus {
    width: 500px;
    height: 45px;
    margin-bottom: 21px;
    border: transparent;
    background-color: #f9f8f8;
    text-align: center;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    color: #2d2d2c;
    cursor: pointer;
}

main #googlePlus img {
    width: 500px;
    height: 45px;
}

main #googlePlusBtn {
    width: 500px;
    height: 45px;
    margin-bottom: 21px;
    border: transparent;
    background-color: #f9f8f8;
    text-align: center;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    color: #2d2d2c;
    cursor: pointer;
}

main #googlePlusBtn img {
    width: 500px;
    height: 45px;
}

main #gallery {
    width: 500px;
    height: 45px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 21px;
    border: transparent;
    border-bottom: 1px solid #2d2d2c;
    background-color: #f9f8f8;
    text-align: center;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    color: #2d2d2c;
    cursor: pointer;
}

main #introduction {
    width: 500px;
    height: 150px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 100px;
    border: transparent;
    border: 1px solid #2d2d2c;
    background-color: #f9f8f8;
    text-align: center;
    resize: none;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    color: #2d2d2c;
}

::-webkit-input-placeholder {
    color: rgba(45, 45, 44, 0.3);
}

main #save {
    width: 500px;
    height: 25px;
    margin-bottom: 60px;
    text-align: center;
    font-family: "Century gothic", "Noto Sans";
    font-size: 25px;
    font-weight: 700;
    color: #2d2d2c;
    cursor: pointer;
}

main #cropBox {
    display: none;
}

main #cropImageBox {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    background: #fff no-repeat;
    cursor: move;
}

main #cropImageBox .thumbBox {
    position: absolute;
    width: 248px;
    height: 248px;
    margin: 126px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 0 1000px rgba(45, 45, 44, 0.8);
    background: none repeat scroll 0% 0% transparent;
}

main #cropImageBox .thumbBox #cropImageBtn {
    width: 102px;
    height: 43px;
    border: solid 1px #2d2d2c;
    background: rgba(45, 45, 44, 0.80);
    margin: 102px auto;
    text-align: center;
    line-height: 43px;
    color: #fff;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main #cropImageBox .spinner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 500px;
    background: rgba(0, 0, 0, 0.7);
}