/*Created by youngkim on 2014. 11. 6..*/

nav .container #recommendNavButton {
    float: left;
    width: 104px;
    height: 15px;
    padding: 4px 12px 4px 12px;
    margin: 19px -1px 0 -7px;
    border: 1px solid #f9f8f8;
    cursor: pointer;
}

main .container {
    /*width: 1000px;*/
    padding-top: 40px;
    margin: 0 auto;
}

main .artCard {

}

main .artCard .artWork {
    margin: 0 auto;
    text-align: center;
}

main .artCard .artWork img {
    margin: auto;
    border: 1px solid #2d2d2c;
    cursor: pointer;
}

main .artCard .likeIcon {
    width: 30px;
    height: 30px;
    margin: 20px auto 0 auto;
    cursor: pointer;
}

main .artCard .likeIcon img {
    width: 30px;
    height: 30px;
}

main .artCard .likeText {
    width: 30px;
    height: 11px;
    margin: 10px auto 100px auto;
    text-align: center;
    font-family: Century gothic, Noto Sans;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

main .artCard .likedIcon {
    width: 30px;
    height: 30px;
    margin: 20px auto 0 auto;
    cursor: pointer;
}

main .artCard .likedIcon img {
    width: 30px;
    height: 30px;
}

main .artCard .likedText {
    width: 30px;
    height: 11px;
    margin: 10px auto 100px auto;
    text-align: center;
    font-family: Century gothic, Noto Sans;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

main #loadMore {
    width: 213px;
    height: 50px;
    margin: 0 auto 60px auto;
    cursor: pointer;
}

#fullScreen {
}

#exitButton {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    z-index: 3;
}

#fullArtwork img {

}

#controlButton {
    position: fixed;
    width: 110px;
    height: 20px;
    bottom: 0;
    right: 0;
    margin-bottom: 15px;
    margin-right: 15px;
    z-index: 3;
}

#likeButton {
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

#moreButton {
    float: left;
    cursor: pointer;
}

#user {
    display: none;
}

#artwork {
    display: none;
}

#artist {
    display: none;
}