/*Created by youngkim on 2014. 11. 18..*/

main .container #flowTab {
    float: left;
    width: 280px;
    height: 54px;
    margin-right: 60px;
    cursor: pointer;
    border: transparent;
}

main .container #subscribedTab {
    float: left;
    width: 280px;
    height: 54px;
    cursor: pointer;
    border-bottom: 1px solid #2d2d2c;
}

main #cardList {
    width: 900px;
    display: table;
    margin-left: 86px;
    padding-top: 60px;
}

main .artistCard {
    float: left;
    width: 193px;
    height: 193px;
    border: 1px solid #2d2d2c;
    margin-right: 100px;
    margin-bottom: 100px;
}

main .artistCard img {
    width: 193px;
    height: 193px;
}

.artistCard .artistOverlay {
    position: absolute;
    width: 193px;
    height: 193px;
    opacity: 0.7;
    display: none;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)); /* Standard syntax (must be last) */

}

.artistCard .artistInfo {
    position: absolute;
    width: 195px;
    height: 195px;
    display: none;
    font-family: Century gothic, Noto Sans;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #f9f9f8;
    word-break: break-all;
}

.artistCard:hover .artistOverlay {
    display: block;
}

.artistCard:hover .artistInfo {
    display: block;
}

.artistCard .subscribed {
    width: 90px;
    height: 26px;
    margin-top: 114px;
    margin-left: 52px;
    margin-bottom: 15px;
    cursor: pointer;
}

.artistCard .artistNickname {
    width: 195px;
    height: 15px;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

.artistCard .artistId {
    display: none;
}

main #loadMore {
    width: 210px;
    height: 50px;
    margin: -40px auto 60px auto;
    cursor: pointer;
}

main #footerSpacer {
    width: 960px;
    height: 80px;
    margin-top: -100px;
}