/*Created by youngkim on 2014. 11. 16..*/

main .container {
    width: 960px;
    margin: 0 auto;
    padding-top: 100px;
}

main #user {
    width: 960px;
    height: auto;
}

main #profileImage {
    float: left;
    width: 248px;
    height: 248px;
    border: 1px solid #2d2d2c;
    margin: 0 72px 0 10px;
    background: no-repeat 0px 0px;
    background-size: cover;
    cursor: pointer;
}

main #profilePic {
    display: none;
}

main #userInfo {
    float: right;
    width: 627px;
    height: auto;
}

main #userSpacer {
    clear: both;
    width: 960px;
    height: 40px;
    margin: 0 auto;
    border-bottom: 1px solid #2d2d2c;
}

main #profileZoomIn {
    margin: 15px 14px 15px 110px;
}

main #profileZoomOut {
    margin: 15px;
}

main .glass {
    float: left;
    width: 11px;
    height: 11px;
    cursor: pointer;
    font-size: 10px;
}

main #userSpacer .glassSign {
    float: left;
    margin-left: 0.2em;
    margin-right: -0.9em;
}

main #userSpacer .glassShape {
    float: left;
    letter-spacing: -0.1em;
}

main #nickName {
    float: left;
    width: 369px;
    height: 30px;
    padding: 0;
    padding-left: 10px;
    border: transparent;
    border: 1px solid #2d2d2c;
    background-color: #f9f8f8;
    font-family: Century gothic, Noto Sans;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: left;
    font-smoothing: antialiased;
    margin-bottom: 34px;
    margin-right: 124px;
    line-height: 30px;
}

main #profileEdit {
    float: left;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 500;
    color: #2d2d2c;
    margin-right: 10px;
    margin-top: 15px;
}

main #address {
    clear: both;
}

main #addrSelected {
    width: 500px;
    height: 22px;
    clear: both;
    margin-bottom: 5px;
}

main #addrList {
    position: absolute;
    display: block;
}

main #addrList li {
    width: 605px;
    height: 20px;
    background-color: #f9f8f8;
    border: 1px solid #2d2d2c;
    padding-left: 10px;
    text-align: left;
    font-family: Century gothic, Noto Sans;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #2d2d2c;
    display: none;
    cursor: pointer;
    line-height: 18px;
}

main #addrList span:hover {
    cursor: pointer;
}

main #homePage {
    width: 617px;
    height: 22px;
    padding-left: 10px;
    margin-bottom: 5px;
    border: transparent;
    border: 1px solid #2d2d2c;
    background-color: #f9f8f8;
    text-align: left;
    font-family: Century gothic, Noto Sans;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #2d2d2c;
}

main #facebook {
    width: 615px;
    height: 22px;
    margin-bottom: 5px;
    border: 1px solid #2d2d2c;
    background-color: #f9f8f8;
    color: #2d2d2c;
    cursor: pointer;
}

main #facebook img {
    width: 615px;
}

main #facebookBtn {
    width: 615px;
    height: 22px;
    margin-bottom: 5px;
    border: 1px solid #2d2d2c;
    background-color: #f9f8f8;
    color: #2d2d2c;
    cursor: pointer;
}

main #facebookBtn img {
    width: 615px;
}

main #googlePlus {
    width: 615px;
    height: 22px;
    margin-bottom: 5px;
    border: 1px solid #2d2d2c;
    background-color: #f9f8f8;
    color: #2d2d2c;
    cursor: pointer;
}

main #googlePlus img {
    width: 615px;
}

main #googlePlusBtn {
    width: 615px;
    height: 22px;
    margin-bottom: 5px;
    border: 1px solid #2d2d2c;
    background-color: #f9f8f8;
    color: #2d2d2c;
    cursor: pointer;
}

main #googlePlusBtn img {
    width: 615px;
}

main #gallery {
    width: 617px;
    height: 22px;
    padding-left: 10px;
    margin-bottom: 5px;
    border: transparent;
    border: 1px solid #2d2d2c;
    background-color: #f9f8f8;
    text-align: left;
    font-family: Century gothic, Noto Sans;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #2d2d2c;
}

main #userIntroduction {
    width: 617px;
    height: 48px;
    padding-left: 10px;
    border: transparent;
    border: 1px solid #2d2d2c;
    background-color: #f9f8f8;
    text-align: left;
    font-family: Century gothic, Noto Sans;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    resize: none;
    color: #2d2d2c;
}

main #userIntroductionText {
    display: none;
}

::-webkit-input-placeholder {
    color: rgba(45, 45, 44, 0.3);
}

main #artWork {
    width: 960px;
    height: auto;
    padding-top: 40px;
}

main #artWorkImage {
    width: 958px;
    height: 470px;
    border: 1px solid #2d2d2c;
    margin-bottom: 40px;
    cursor: pointer;
    background-image: url('/images/uploadArtworkPrefix.png');
    background-size: cover;
}

main #artWorkPic {
    display: none;
}

main #hashTag {
    margin-bottom: 40px;
}

main #artWork .hash {
    width: 180px;
    height: 70px;
    margin-right: 15px;
    border: transparent;
    border: 1px solid #2d2d2c;
    background-color: #f9f8f8;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: #2d2d2c;
}

main #artWork .hashRight {
    width: 180px;
    height: 70px;
    border: transparent;
    border: 1px solid #2d2d2c;
    background-color: #f9f8f8;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: #2d2d2c;
}

main #property {
    float: left;
    width: 297px;
    margin-right: 36px;
}

main #title {
    width: 297px;
    height: 80px;
    border: transparent;
    border: 1px solid #2d2d2c;
    background-color: #f9f8f8;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

main #width {
    float: left;
    width: 78px;
    height: 43px;
    border: transparent;
    border: 1px solid #2d2d2c;
    background-color: #f9f8f8;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

main #height {
    float: left;
    width: 78px;
    height: 43px;
    border: transparent;
    border: 1px solid #2d2d2c;
    background-color: #f9f8f8;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

main #depth {
    float: left;
    width: 78px;
    height: 43px;
    border: transparent;
    border: 1px solid #2d2d2c;
    background-color: #f9f8f8;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

main .x {
    float: left;
    margin: 16px 10px 0 10px;
    width: 11px;
    height: 11px;
    background-image: url('/images/x.png');
}

main #material {
    clear: both;
    width: 297px;
    height: 135px;
    border: transparent;
    border: 1px solid #2d2d2c;
    background-color: #f9f8f8;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}

main #artWorkIntroduction {
    width: 626px;
    height: 298px;
    padding-top: 15px;
    padding-bottom: 10px;
    border: transparent;
    border: 1px solid #2d2d2c;
    background-color: #f9f8f8;
    text-align: center;
    font-family: Georgia, Noto Serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 500;
    resize: none;
    color: #2d2d2c;
}

main #artWorkIntroduction::-webkit-input-placeholder {
    text-align: center;
}

main #save {
    clear: both;
    width: 960px;
    height: 25px;
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
    font-family: "Century gothic", "Noto Sans";
    font-size: 25px;
    font-weight: 700;
    color: #2d2d2c;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: rgba(45, 45, 44, 0.3);
}

main #user #cropBox {
    float: left;
    margin: 0 72px 0 10px;
    display: none;
}

main #user #cropImageBox {
    position: relative;
    width: 248px;
    height: 248px;
    overflow: hidden;
    border: solid 1px #2d2d2c;
    background: rgba(45, 45, 44, 0.80) no-repeat;
    cursor: move;
}

main #user #cropImageBox .thumbBox {
    position: absolute;
    width: 250px;
    height: 250px;
    margin: 0px;
    box-sizing: border-box;
    border: 1px solid rgb(45, 45, 44);
    box-shadow: 0 0 0 1000px rgba(45, 45, 44, 0.80);
    background: none repeat scroll 0% 0% transparent;
}

main #cropImageBox .thumbBox #cropImageBtn {
    width: 102px;
    height: 43px;
    border: solid 1px #2d2d2c;
    background: rgba(45, 45, 44, 0.80);
    margin: 102px auto;
    text-align: center;
    line-height: 43px;
    color: #fff;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main #user #cropImageBox .spinner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 248px;
    background: rgba(0, 0, 0, 0.7);
}

main #artWork #cropBoxArt {
    margin-bottom: 40px;
    display: none;
}

main #artWork #cropArtBox {
    position: relative;
    width: 958px;
    height: 470px;
    overflow: hidden;
    border: solid 1px #2d2d2c;
    background: rgba(45, 45, 44, 0.80) no-repeat;
    cursor: move;
}

main #artWork #cropArtBox .thumbBox {
    position: absolute;
    width: 472px;
    height: 472px;
    margin: 0px 244px;
    box-sizing: border-box;
    border: 1px solid rgb(249, 248, 248);
    box-shadow: 0 0 0 1000px rgba(45, 45, 44, 0.8);
    background: none repeat scroll 0% 0% transparent;
}

main #artWork #cropArtBox .thumbBox #thumbBoxMessage {
    width: 302px;
    height: 43px;
    border: solid 1px #2d2d2c;
    background: rgba(45, 45, 44, 0.80);
    margin: 220px auto;
    text-align: center;
    line-height: 43px;
    color: #fff;
    cursor: pointer;
}

main #artWork #cropArtBox .spinner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 470px;
    background: rgba(0, 0, 0, 0.7);
}