//
   Created by youngkim on 2014. 11. 9..

link(href='/stylesheets/footer.css', rel='stylesheet', type='text/css')

#footerDummy
footer
    .container
        #contactFooter
            | CONTACT : Info@mushroom.land
        #facebookFooter
            | FACEBOOK
        #copyrightFooter
            | Ⓒ2014 Mushroom.land &nbsp; All rights reserved.
        #termFooter
            | Terms of Use
        #privacyFooter
            | Privacy Pollcy
        #securityFooter
            | Security
script(src="/javascripts/footer.js")