//
   Created by youngkim on 2014. 11. 18..

meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(charset='utf-8')
meta(name='description', content='mushroom prototype main page')
meta(name='author', content='Young Kim')
link(rel='icon', type ='image/x-icon',href='/images/favicon.ico')
title Mushroom
link(href='/stylesheets/reset.css', rel='stylesheet', type='text/css')
link(href="//fonts.googleapis.com/css?family=Noto+Sans:400,700", rel="stylesheet", type="text/css")
link(href="//fonts.googleapis.com/css?family=Noto+Serif:400italic", rel="stylesheet", type="text/css")
script(src="https://code.jquery.com/jquery-2.1.1.min.js")
script(src='/javascripts/googleAnalytics.js')