//
   Created by youngkim on 2014. 11. 9..

link(href='/stylesheets/nav.css', rel='stylesheet', type='text/css')

nav
    .container
        #recommendNavButton(onclick='location.href=\'/recommend\';')
            | RECOMMEND
        #browseNavButton(onclick='location.href=\'/browse\';')
            | BROWSE
        #logo
            #logoNavButton(onclick='location.href=\'/user/login\';')
                #mushroomLogo
                    img(src="/images/logo.png")
                if (login)
                    #signText
                        | #{nickname}
                else
                    #signText
                        | LOGIN
        #uploadNavButton(onclick='location.href=\'/upload\';')
            | UPLOAD
        #flowNavButton(onclick='location.href=\'/flow\';')
            | FLOW
    #dropDownContainer
        #dummy
        #menu
            #arrow
            #mypage(onclick='location.href=\'/user/mypage\';')
                | MYPAGE
            #profile(onclick='location.href=\'/user/profile\';')
                | PROFILE
            #contact
                | CONTACT
            if (login)
                #logout(onclick='location.href=\'/user/logout\';')
                    | LOG OUT
            else
                #login(onclick='location.href=\'/user/login\';')
                    | LOG IN
    #popup
        #xbox
        #message
            | DEFAULT
        #select_ok
            #okBox
                | OK
        #select_bool
            #yesBox
                | YES
            #noBox
                | NO
script(src="/javascripts/nav.js")